selektorea { eremua:balioa }

/* iruzkinak */

/* p,h1 { color : red } */



/* p.uno { color : red }

p.dos {
    color : purple ;
    font-size: 50;
} */


.bat { color : red }

.bi {
    color : purple ;
    font-size: 50;
}

#lehenengoa {text-align: center}
#bigarrena {text-align: right}

























